@use '../../../../../styles/variables' as v;
@use '../../../../../styles/medias' as m;
@use '../../../../../styles/elements';

.orgaList {

  &-orgaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    overflow-y: auto;
    &__name {
      font-weight: 500;
      font-size: .9rem;
      color: v.$grey-800;
    }
    &__adress {
      font-weight: 500;
      font-size: 0.8rem;
      color: v.$grey-500;
    }

  @include m.desktop {
    &__name {
      font-size: .85rem;
    }
    &__adress {
      font-size: .7rem;
    }
  }

  @include m.widescreen {
    &__name {
      font-size: .95rem;
    }
    &__adress {
      font-size: 0.75rem;
    }
  }

  @include m.fullhd {
    &__name {
      font-size: 1rem;
    }
    &__adress {
      font-size: 0.8rem;
    }
  }

  @include m.qhd {
    padding-left: 1.5rem;
    &__name {
      font-size: 1.1rem;
    }
    &__adress {
      font-size: 0.85rem;
    }
  }

    &:hover {
      background-color: rgba(v.$sucess, 0.2);
    }
    &:active {
      background-color: rgba(v.$sucess, 0.4);
    }
    
  }
}
