@use '../../../../../styles/variables' as v;
@use '../../../../../styles/medias' as m;
@use '../../../../../styles/elements';

.orgaSheet {

  &-contacts {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
    }
    .orgaSheet-case {
      min-height: 9vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include m.desktop {
        width: 50%;
      }

      @include m.qhd {
        width: 25%;
      }
    }
  }
  &-services {
    .orgaSheet-case {
      border: 1px solid v.$grey-300;
      border-radius: 5px;
  }
}
}