@use '../../../styles/variables' as v;

.skeleton-category {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  aspect-ratio: 1 ;
  border: 1px solid grey;
  border-radius: 25px;
  background-color: v.$white;
  color: v.$primary;
  gap: 1px;
  width: 80px;
  height: 80px;

  &-icon, &-span {
    width: 60px;
    height: 10px;
    border-radius: 25px;
    
    filter: grayscale(0.25);
    background: rgb(213,128,181);
    background: linear-gradient(90deg, rgba(213,128,181,1) 2%, rgba(233,178,213,1) 36%, rgba(213,128,181,1) 65%);
    background-size: 200% 100%;
    animation: 3s shine linear infinite;
  }

  &-icon {
    border-radius: 15px;
    width: 45px;
    height: 35px;
  }
  &-span {
    border-radius: 15px;
    width: 60px;
    height: 16px;
  }
}