@use '../../../../../styles/variables' as v;
@use '../../../../../styles/medias' as m;
@use '../../../../../styles/elements';

.infos {
  width: 100%;
  background-color: v.$white;

  &_titleBar {
    display: flex;
    justify-content: space-between;

    h1 {
      padding: 1rem 0 1rem 0.75rem;
      font-weight: 500;
      font-size: 1.6rem;
      color: v.$info;
      font-weight: 600;
      font-size: 1.5rem;
      text-transform: lowercase;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  &_menu {
    font-size: 1.4rem;
    margin-right: 2rem;
    color: v.$info;
  }

  &_list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    @include m.desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include m.fullhd {
      grid-template-columns: repeat(3, 1fr);
    }

    &__text {
      font-weight: 400;
      color: v.$grey-700;
    }

    .orgaSheet-case {
      width: 100%;
    }
  }
}
