.transport{
  margin-bottom: 0.5em;
  //display: flex;
  //align-items: center;
  font-size: 0.9em;
  line-height: 1em;
  &-lines{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  & i{
    font-size: 1.4em;
    line-height: 1em;
  }
  & p{
    margin-bottom: 0.3em;
    font-weight: 600;
  }
  &-num{
    padding: 0.3em 0.4em 0.2em;
    margin-right: 0.2em;
    border-radius: 0.3em;
    font-weight: 600;
    margin-bottom: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}