@use '../../styles/variables' as v;
@use '../../styles/medias' as m;
@use '../../styles/elements';

.accountRequest {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 3rem;

  font-family: 'Roboto', sans-serif;

  h1 {
    color: v.$primary;
    font-weight: 500;
    margin: 15vh 0 5vh;
    font-size: 2.5rem;
  }

  &-form {
    width: 45vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 3rem;

    input, select {

      border: none;
      border-bottom: 1px solid v.$grey-300;
      font-size: 1.3rem;
    }

    input {
      width: 100%;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: v.$grey-700;
        font-weight: 500;
      }
    }

    select {
      background-color: v.$white;
      border-radius: 5px;
      color: v.$grey-500;
      font-weight: 500;
    }

    &__text {
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: span 2;

      font-size: 1.1rem;
    }
  }

  button {
    background-color: v.$primary;
    color: v.$white;
    border-radius: 5px;
    padding: .75rem 1rem;
  }

  a {
    text-decoration: none;
    color: v.$primary;
    font-weight: 400;
    font-size: 1.1rem;
  }

  &-alreadyAccount {
    text-align: center;
    font-size: 1.1rem;
  }
}
