@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.breadcrumb{
  display: flex;

    @include m.mobile{
      flex-wrap: wrap;
      justify-content: center;
    }

  & ul{
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;

    @include m.mobile{
      margin-top: 1em;
      padding: 0;
    }
    
    & a{
      color: v.$grey-600;

      @include m.mobile{
        text-align: center;
        line-height: 0.8em;
      }
    }

    & .link-active{
      color: v.$watigreen;
    }

    & li{
      font-size: 0.8em;
      margin: 0.5rem;
      font-weight: 600;
    }

    & .las{
      line-height: 2 ;
    }

    
  }

}
