@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.breadcrumb{
  display: flex;

  & ul{
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
    
    & a{
      color: v.$grey-600;
    }

    & .link-active{
      color: v.$watigreen;
    }

    & li{
      font-size: 0.8em;
      margin: 0.5rem;
      font-weight: 600;
    }

    & .las{
      line-height: 2 ;
    }

    
  }

}
