@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

#users {
  min-height: 94vh;

  table {
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    text-align: left;
    font-size: 0.9rem;
    thead {
      font-weight: 600;
      color: v.$grey-600;
    }
    tbody {
      font-weight: 400;
      color: v.$grey-700;
    }
    tr {
      height: 3rem;

      &:nth-child(even) {
        background-color: v.$grey-100;
      }

      &:hover {
        background-color: rgba(v.$sucess, 0.2);
      }

      th,
      td {
        padding-left: 0.75rem;
      }

      th {
        border-bottom: 2px solid v.$grey-300;
      }
    }
  }

  .tbl-left,
  .userstable-name,
  .userstable-antenne {
    padding-left: 2rem;
  }

  .tbl-center,
  .userstable-checkbox,
  .userstable-email,
  .userstable-connexion,
  .userstable-roles,
  .userstable-action {
    text-align: center;
  }

  .userstable-checkbox {
  }

  .userstable-roles {
    .role {
      margin: 0 0.5rem;
      padding: 0.2rem 0.5rem;
      border-radius: 20px;
      color: v.$white;
    }
    .editor {
      background-color: v.$info;
    }
    .localref {
      background-color: v.$sucess;
    }
    .admin {
      background-color: v.$danger;
    }
  }
  .userstable-action {
    font-size: 1.2rem;
    font-weight: 900;
    color: v.$grey-900;
  }
}
