@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

#users {
  min-height: 94vh;
  font-family: 'Inter', sans-serif;

  table {
    min-width: 100%;
    text-align: left;
    font-size: 0.9rem;

    tr {
      height: 3.5rem;

      th,
      td {
        border-bottom: 1px solid v.$grey-200;
        padding-left: 0.25rem;

        @include m.widescreen {
          padding-left: 0.5rem;
        }

        @include m.fullhd {
          padding-left: 0.75rem;
        }
      }
    }

    thead {
      font-weight: 600;
      color: v.$grey-700;
      background-color: v.$grey-100;
      position: sticky;
      top: 5rem;
    }

    tbody {
      font-weight: 400;
      color: v.$grey-700;

      tr {
        &:hover {
          background-color: rgba(v.$sucess, 0.2);
        }
        &:active {
          background-color: rgba(v.$sucess, 0.4);
        }
      }
    }
  }

}
