# Dependency directories
backend/node_modules/
backend/jspm_packages/

# dotenv environment variable files
backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local

# yarn v2
backend/.yarn/cache
backend/.yarn/unplugged
backend/.yarn/build-state.yml
backend/.yarn/install-state.gz
backend/.pnp.*
