@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;

#resultsPanel {
  display: none;
  z-index: 100;
  flex-direction: column;
  gap: 1rem;

  overflow-y: auto;

  background-color: rgba(v.$grey-100, .75);
  box-shadow: rgba(0, 0, 0, 0.15) 0.2rem 0rem 0.2rem;

  @include m.desktop {
    display: inline-flex;
    width: 70%;
  }

  @include m.widescreen {
    width: 85%;
  }

  @include m.fullhd {
    width: 75%;
  }

  @include m.qhd {
    width: 50%;
  }
}