@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;

.resultsPanel {
  display: inline-flex;
  z-index: 100;
  flex-direction: column;
  background-color: rgba(v.$grey-100, 0.75);
  box-shadow: rgba(0, 0, 0, 0.15) 0.2rem 0rem 0.2rem;

  @include m.desktop {
    width: 70%;
  }

  @include m.widescreen {
    width: 85%;
  }

  @include m.fullhd {
    width: 75%;
  }

  @include m.qhd {
    width: 50%;
  }

  &-ContentCard {
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: auto;
    padding: 1.5rem 0;
    z-index: -1;
  }

  &-noResult {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}