@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.resultsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem 1rem;
  padding: 1.5rem 1rem 0.5rem;
  margin: 0 0.5rem;
  background-color: v.$white;
  border-radius: 10px;
  border: 1px solid rgba(v.$grey-400, 0.3);

  @include m.desktop {
    margin: 0 1.5rem;
  }

  @include m.fullhd {
    flex-direction: row;
  }

  &:hover {
    box-shadow: 0 6px 10px 1px rgba(v.$sucess, 0.075);
    border: 1px solid rgba(v.$sucess, 0.2);
  }

  .Left {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;

    a {
      text-decoration: none;
    }

    &-upper {
      display: flex;
      align-items: baseline;
      column-gap: 0.5rem;

      &__position-id {
        text-align: center;
        color: v.$white;
        font-weight: bold;
        border-radius: 50%;
        min-width: 2rem;
        height: 2rem;
        background-color: v.$primary;

        & p {
          position: relative;
          top: 50%;
          transform: perspective(1px) translateY(-50%);
        }
      }

      &__organizationInfos {
        flex-grow: 1;
        margin: 0;
        display: flex;
        flex-direction: column;

        &___title {
          font-weight: bold;
          font-size: 1rem;
          color: v.$grey-700;
          overflow-wrap: break-word;
        }

        &___address {
          font-weight: bold;
          position: relative;
          color: v.$sucess;
          font-size: 0.85rem;
        }
      }

      &__description {
        color: #555;
        text-align: justify;
        font-size: 0.9rem;
      }
    }

    &-lower {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
      gap: 1rem 0;

      @include m.tablet {
        flex-direction: row;
      }

      &__moreInfos {
        display: flex;
        align-items: center;
        font-size: 0.95rem;
        color: v.$sucess;
        gap: 0.5rem;
        &-icon {
          height: 0.9rem;
          width: 0.9rem;
        }
      }

      &__categories {
        display: flex;
        column-gap: 0.5rem;

        &___item {
          color: #a9a9a9;
          height: 2rem;
          width: 2rem;
          color: v.$primary;
        }

        & img {
          height: 2rem;
          width: 2rem;
        }
      }

      &__infosalertes {
        border-radius: 5px;
        width: 100%;
        border: 1px solid v.$danger;
        & legend {
          color: v.$danger;
          font-size: 0.9rem;
          font-weight: 600;
        }
        & span {
          font-size: 0.9rem;
          font-weight: 500;
          color: v.$grey-800;
        }
      }
    }
  }

  .Right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-shrink: 0;
    gap: 1rem;

    @include m.desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    @include m.fullhd {
      flex-direction: column;
      justify-content: flex-start;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      padding: 0.3rem 0.5rem;
      font-size: 0.9rem;
      font-weight: 800;

      @include m.desktop {
        width: 50%;
      }

      @include m.widescreen {
        width: 40%;
      }

      @include m.fullhd {
        width: auto;
      }
    }
  }
}
