@use '../../../../../styles/variables' as v;
@use '../../../../../styles/medias' as m;
@use '../../../../../styles/elements';

.data {
  &_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem;

    h4 {
      display: none;
    }
  }

  &_case {
    margin: 0;
    width: auto;
    padding: 0.75rem;
    border: 1px solid v.$grey-300;
    border-radius: 10px;
  }

  &_access {
    gap: 0.5rem;
  }

  &_accessDetails {
    display: flex;
    gap: 2rem;

    [type='checkbox'] {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 1rem;
      color: v.$info;
    }
  }

  &_hours {
    gap: 0.5rem;
    min-height: 5rem;
  }

  &_hoursDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem 2.5rem;

    @include m.fullhd {
      gap: 1rem 2.5rem;
    }

    @include m.qhd {
      gap: 1.5rem 5rem;
    }
  }

  &_daysOn,
  &_daysOff {
    margin-right: 1rem;
  }

  &_daysOn {
    color: v.$sucess;
  }

  &_daysOff {
    color: v.$danger;
  }
}
