// colors
// from : https://paletton.com/#uid=7570u0khsup7-OAcID3lwq7pnlN

$primary: #BE62A0;
$primary_var1: #e9b2d5;
$primary_var2: #d580b5;
$primary_var3: #a23579;
$primary_var4: #871c5f;

$info: #6B8CB0;
$warning: #FFD492;
$sucess: #66B29B;
$danger: #b2667d;


$watigreen:#559C87;
$bghome:rgba(85, 156, 135, 0.6);
$bgadmin: #f4f6fd;

$white : #fff;
$black : #000;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;


// elements