// colors
// from : https://paletton.com/#uid=7570u0khsup7-OAcID3lwq7pnlN

$primary: #bd5696;
$primary_var1: #e9b2d5;
$primary_var2: #d580b5;
$primary_var3: #a23579;
$primary_var4: #871c5f;

$secondary: #6ac85b;
$secondary_var1: #beeeb6;
$secondary_var2: #92de86;
$secondary_var3: #48ac38;
$secondary_var4: #2e901e;

$tertiary: #ec6b74;
$tertiary_var1: #fcc1c5;
$tertiary_var2: #fa979e;
$tertiary_var3: #cb424c;
$tertiary_var4: #a9232d;

$quaternary: #f2f06e;
$quaternary_var1: #fffec3;
$quaternary_var2: #fffd9a;
$quaternary_var3: #d0cd44;
$quaternary_var4: #aeab24;

$white : #fff;
$watigreen:#559C87;
$bghome:rgba(85, 156, 135, 0.6)

// elements

