// colors
// from : https://paletton.com/#uid=7570u0khsup7-OAcID3lwq7pnlN

$primary: #BE62A0;
$primary_var1: #e9b2d5;
$primary_var2: #d580b5;
$primary_var3: #a23579;
$primary_var4: #871c5f;

$secondary: #81D16C;
$secondary_var1: #beeeb6;
$secondary_var2: #A8E498;
$secondary_var3: #5AB243;
$secondary_var4: #3C9525;

$tertiary: #EE7B88;
$tertiary_var1: #fcc1c5;
$tertiary_var2: #fa979e;
$tertiary_var3: #cb424c;
$tertiary_var4: #a9232d;

$quaternary: #F9F580;
$quaternary_var1: #FFFED0;
$quaternary_var2: #FFFCAA;
$quaternary_var3: #D3CF50;
$quaternary_var4: #B1AC2C;

$white : #fff;
$black : #000;
$watigreen:#559C87;
$bghome:rgba(85, 156, 135, 0.6);
$bgadmin: #f4f6fd;

$info: #6B8CB0;
$warning: #FFD492;
$sucess: #66B29B;
$danger: #b2667d;


$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;


// elements