@use '../../../../../styles/variables' as v;
@use '../../../../../styles/medias' as m;
@use '../../../../../styles/elements';

.orgaList {

  &-searchCard {
    position: sticky;
    overflow-y: auto;
    top: 6vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    padding: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.075) 0rem 0.1rem 0.8rem;

    &__search {
      width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: 5px;
      color: v.$grey-700;
      border: 1px solid v.$grey-500;
      box-shadow: none;
      appearance: none;

      &:hover {
        color: v.$sucess;
        border: 1px solid v.$sucess;
      }

      &:active,
      &:focus-visible {
        color: v.$sucess;
        font-weight: 8500;
        border: 2x solid v.$sucess;
      }
    }

    &__groupIcons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__button {
      display: flex;
      gap: .25rem;
    }

    &__text {
      display: none;
      margin-right: .5rem;
    }

    &__logo {
      border: 1px solid v.$grey-500;
      border-radius: 5px;
      color: v.$grey-700;
      padding: 0;
      font-size: 1.5rem;

      &:hover {
        color: v.$sucess;
        border: 1.5px solid v.$sucess;
      }
    }    
    
    @include m.tablet {
      padding: 0.75rem;

      &__text {
        display: flex;
      }
    }

    @include m.desktop {
      padding: 0.75rem;

      &__text {
        display: flex;
      }

      &__search,
      &__logo {
        padding: 0.1rem;
      }

      &__logo {
        font-size: 1.5rem;
      }
    }

    @include m.widescreen {
      &__logo {
        padding: 0.1rem;
      }
    }

    @include m.fullhd {
      padding: 1rem 0.75rem;
      flex-direction: row;
      gap: 0;

      &__text {
        display: none;
      }

      &__search,
      &__logo {
        padding: 0.25rem;
      }

      &__search {
        width: 150%;
      }

      &__groupIcons {
        justify-content: flex-end;
      }

      &__logo {
        font-size: 1.5rem;
      }
    }

    @include m.qhd {

      &__search,
      &__logo {
        padding: 0.35rem;
      }

      &__search {
        margin-right: 1rem;
        width: 200%;
      }
    }
  }
}