@use '../../../../../../styles/variables' as v;
@use '../../../../../../styles/medias' as m;
@use '../../../../../../styles/elements';

.service {
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
  &_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    border: 1px solid v.$grey-300;
    border-radius: 20px;
    margin-bottom: 1rem;

    // @include m.desktop {
    //   width: 48%;
    // }

    // @include m.fullhd {
    //   width: 30%;
    // }
  }
  &_menu {
    &__menu {
      color: v.$danger;
      margin-right: 2rem;
      font-size: 1.4rem;
    }
  }
}
.serviceCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border: 1px solid v.$grey-300;
  border-radius: 20px;
  margin-bottom: 1rem;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // background-color: rgba(v.$grey-100, .25);

    border-bottom: 1px solid v.$grey-300;
    color: v.$danger;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    font-size: 1rem;
  }

  &_actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.35rem;
  }

  &_data {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;

    &__category {
      color: v.$info;
    }

    &__info,
    &__alerts {
      color: v.$grey-700;
    }

    &__hoursDetails {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    &__days {
      width: 100%;
    }

    &__daysOn,
    &__daysOff {
      min-width: 3.5vw;
      font-weight: 700;
    }

    &__daysOn {
      color: v.$sucess;
    }

    &__daysOff {
      color: v.$danger;
    }

    &__contacts {
      border: 1px solid v.$grey-300;
      border-radius: 10px;
    }
  }
}
