@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.adminNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 0;
  text-decoration: none;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: v.$white;
    padding: 1rem 0 1rem 1rem;
    margin-right: 1.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 500;
    font-size: 0.9em;
    transition: background 300ms;
  
    @include m.fullhd {
      font-size: 1.1em;
    }

    .las {
      margin-right: 1em;
      font-size: 1.3rem;

      @include m.desktop {
        font-size: 1.5rem;
      }
    }

    &:hover {
    background-color: rgba(v.$primary-var3, 0.3);
    }
  }

  &-isActive {
    background-color: rgba(v.$primary-var4, 0.3);
    font-weight: 800;
  }
}
