@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.orgaSheet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
  overflow-y: auto;

  @include m.desktop {
    padding: 1rem
  }

  @include m.widescreen {
    padding: 1.5rem
  }

  @include m.fullhd {
    padding: 2.5rem
  }

  &-card {
    width: 100%;
    background-color: v.$white;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);

    &__titleBar {
      display: flex;
      justify-content: space-between;
      background-color: v.$sucess;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &__title {
      padding: 0.75rem;
      color: v.$white;
    }
    
    &__menu {
      color: v.$white;
      margin-right: 2rem;
      font-size: 1.4rem;
    }
  }

  &-case {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    min-height: 7vh;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid v.$grey-300;
    border-right: 1px solid v.$grey-300;
    font-weight: 300;
    font-size: 0.9rem;
    font-weight: 500;
    color: v.$grey-900;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    h4 {
      text-transform: uppercase;
      font-size: .9rem;
      color: v.$grey-700;
      font-weight: 600;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
  }
}
