@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.orgaSheet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
  overflow-y: auto;

  @include m.widescreen {
    padding: 2.5rem
  }

  &-card {
    width: 100%;
    background-color: v.$white;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
    h3 {
      padding: 0.75rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: v.$sucess;
      color: v.$white;
    }
  }

  &-case {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    min-height: 7vh;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid v.$grey-300;
    border-right: 1px solid v.$grey-300;
    font-weight: 300;
    font-size: 0.9rem;
    &__header {
      display: flex;
      justify-content: space-between;
    }
    h4 {
      font-size: 1rem;
      color: v.$grey-500;
    }
    p {
      font-weight: 500;
      color: v.$grey-900;
    }
  }

  .orgaSheet-edition__menu {
    font-size: 1.2rem;
  }

  &-contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @include m.fullhd {
        align-items: center;
      }
      h5 {
        font-size: 0.9rem;
        color: v.$grey-700;
        text-transform: uppercase;
      }

      button {
        width: 10%;
      }
    }

    &__subheader {
      display: flex;
      flex-direction: column;
      width: 90%;

      @include m.desktop {
        flex-direction: row;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;

      @include m.desktop {
        flex-direction: row;
      }
    }

    &__infos {
      font-weight: 500;
    }

    &__infos, 
    &__name {
      width: 500%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__mail,
    &__tel {
      font-weight: 400;
      color: v.$grey-600;
    }

    .contacts-roles {
      font-weight: 500;
      display: flex;
      gap: .5rem;

      @include m.fullhd {
        margin-left: 1rem;
      }
  
      &__role {
        padding: 0.2rem 0.5rem;
        border-radius: 20px;
        color: v.$white;
      }
      &__public {
        background-color: v.$info;
      }
      &__actualisation {
        background-color: v.$sucess;
      }
      &__prive {
        background-color: v.$danger;
      }
    }
  }
}
