@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

#headerAdmin {
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  min-height: 6vh;
  position: sticky;

  background-color: v.$white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.1rem 0.5rem;
  border-bottom: 1px solid v.$grey-200;

  h2 {
    margin-left: 2rem;
    font-size: 1.2rem;
    color: v.$grey-800;
  }

  button {
    margin-right: 2rem;
  }

  .headerAdmin-hamburger {
    @include m.widescreen {
      display: none;
    }
    &__open {
      color: v.$white;
    }
  }

  .headerAdmin-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0.2rem 0rem 0.5rem;
    background-color: rgba(v.$grey-900, 0.8);
    width: 100vw;
}
}