@use '../variables' as v;
@use '../medias' as m;

/* Basic styling */
select {
  cursor: pointer;
  background-color: v.$white;
  border: none;
  padding: .5rem 1rem;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

form {
  fieldset {
    border-radius: 5px;
    width: max-content;
    border: 1px solid #D4D4D5;

    &:focus-within {
      transition: margin 0.7s;
      border: 1px solid v.$primary;

      legend {
        color: v.$primary;
        display: inline;
      }

      input {
        margin-top: 0;
      }
    }

    legend {
      padding-top: 0;
      padding-bottom: 0;
      display: none;
      margin-top: -20px;
      font-size: .75rem;
    }


    select {
      font-weight: 400;
      padding: 0;
      margin: .3rem 0 0;
    }

    select+legend {
      display: inline;
    }

    select,
    input {
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  input {
    font-size: 1rem;
    box-shadow: none;
    border: none;
    font-weight: 400;
    color: v.$grey-800;

    &::placeholder {
      color: v.$grey-700;
      font-weight: 500;
      font-size: .9rem;
    }

    &:focus {
      outline: none;
    }
  }
}

input {
  &::placeholder {
    color: v.$grey-600;
    font-weight: 300;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}