/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  @apply bg-gray-800/70;
  @apply text-white;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.7rem;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  @apply border-transparent;
  @apply border-gray-600;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-[100];
}
