@use '../../styles/variables' as v;
@use '../../styles/medias' as m;
@use '../../styles/elements';

.mentionslegales {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 80%;
  text-align: justify;
  @include m.desktop {
    max-width: 50%;
    margin: auto;
  }
}

.important {
  font-weight: 700;
}

.title1 {
  color: v.$primary;
  font-weight: 700;
  margin: 0 0 1.5rem;
  font-size: 2.5rem;
}

.title2 {
  font-weight: 700;
  margin: 1rem 0 0.2rem;
}
