@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

#edition {
    display: flex;
    min-height: 94vh;
    background-color: v.$bgadmin;
    font-family: 'Roboto', sans-serif;
}
