@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

#edition {
  display: flex;
  height: 100%;
  background-color: v.$bgadmin;
  font-family: 'Roboto', sans-serif;
}
