@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.edition {
  display: flex;
  height: calc(100vh - 5rem);
  background-color: v.$bgadmin;
  font-family: 'Roboto', sans-serif;
}
