@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.organisme{

  &-infos {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;

    @include m.mobile{
      flex-wrap: wrap;
    }

    @include m.tablet{
      grid-template-columns: repeat(2, 1fr);
    }

    @include m.widescreen{
      grid-template-columns: repeat(3, 1fr);
    }

    & article {
      width: 100%;
      flex: 0 0 auto;
    }
  }
}