@use "../../styles/variables" as v;
.home {
  flex-grow: 1;
  background-image: url("../../../public/bghome-watizat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-filter{
  background-color: v.$bghome;
}

h1{
  color: v.$white;
  text-align: center;
  font-weight: 500;
}

h1 span{
  font-weight: 600;
  display: block;
}
