@use '../../styles/variables' as v;
@use '../../styles/medias' as m;
@use '../../styles/elements';

#homepage {
  @include m.max-height {
    min-height: calc(100vh - 75px - 50px);
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex: 2 1 auto;
    padding-bottom: 1.5rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image:
      linear-gradient(rgba(v.$bghome, 0.8), rgba(v.$bghome, 0.5)),
      url('./img/bghome-portrait.jpg');
    min-height: 100vh;

    @include m.desktop {
      background-image:
        linear-gradient(rgba(v.$bghome, 0.8), rgba(v.$bghome, 0.5)),
        url('./img/bghome-landscape.jpg');
      min-height: 40vh;
    }

    @include m.fullhd {
      min-height: 50vh;
    }

    h1,
    h2 {
      color: v.$white;
    }

    .heroHeader {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 1rem;
      gap: 1rem;

      &-title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 1rem 0;
        max-height: 60vw;
    
        @include m.desktop {
          font-size: 2rem;
          margin: auto;
        }
    
        @include m.widescreen {
          font-size: 3rem;
        }
      }

      &-subtitle {
        font-size: 1rem;
        font-weight: 800;
        display: block;
  
        @include m.desktop {
          font-size: 1rem;
        }
  
        @include m.widescreen {
          font-size: 2rem;
        }
      }
    }

    .choice {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      align-content: flex-start;
      margin: auto;
      gap: 2rem;

      @include m.widescreen {
        margin: 0;
        flex-direction: row;
        align-items: flex-start;
      }

      @include m.fullhd {
        margin: 5rem 0 0 0;
      }

      &-title {
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
    
        @include m.desktop {
          font-size: 1.5rem;
          margin: 2rem 0 2rem 0;
        }
      }

      .choiceLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 90%;

        @include m.desktop {
          flex-basis: 60%;
        }

        @include m.fullhd {
          flex-basis: 40%;
        }

        select {
          background-color: v.$white;
          padding: 1rem;
          border: 1px solid grey;
          border-radius: 25px;
        }
      }

      .choiceRight {
        flex-grow: 2;
        justify-content: center;
        margin: auto auto 1rem auto;
        display: flex;
        flex-direction: column;

        &-group {
          gap: 1rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: auto;
        }


        &-button {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: center;
          border: 2px solid rgba(v.$primary, 0.1);
          border-radius: 25px;
          background-color: v.$white;
          color: rgba(v.$grey-800, 0.8);
          aspect-ratio: 1 / 1;
          gap: 0.5rem;
          width: 25%;

          &__text {
            font-size: 0.8rem;
          }

          &__icon {
            width: 2rem;
            aspect-ratio: 1/1;
          }

          @include m.tablet {
            width: 15%;
          }

          @include m.desktop {
            width: 10%;
          }

          @include m.fullhd {
            width: 10%;
          &__text {
            font-size: 0.9rem;
          }
          }

          @include m.qhd {
            width: 7%;
          }

          &:hover {
            box-shadow: 0px 8px 24px 0px rgba(v.$primary, 0.5);
            color: v.$primary;
            border: 2px solid v.$primary;

            &__text {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .info {
    display: none;

    @include m.tablet {
      display: flex;
    }

    &-hero {
      margin-bottom: 3rem;
      margin-top: rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 3rem;

      &__text {
        flex-basis: 80%;
        margin: 0 2rem;
        text-align: justify;
        font-size: 0.8rem;

        @include m.fullhd {
          flex-basis: 80%;
          font-size: 1.2rem;
        }

        &___title {
          font-size: 1.3rem;
          text-align: left;

          @include m.fullhd {
            font-size: 2rem;
          }
        }

        button {
          margin-top: 1rem;
        }
      }
    }
  }
}