@use '../../styles/variables' as v;
@use '../../styles/medias' as m;
@use '../../styles/elements';

.home {
  height: calc(100vh - v.$headerHeight);

  @include m.touch {
    height: calc(100vh - v.$headerHeight);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex: 2 1 auto;
  padding-bottom: 1.5rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(rgba(v.$bghome, 0.8), rgba(v.$bghome, 0.5)),
    url('/img/bghome-portrait.webp');
  min-height: 100vh;

  @include m.desktop {
    background-image: linear-gradient(
        rgba(v.$bghome, 0.7),
        rgba(v.$bghome, 0.3)
      ),
      url('/img/bghome-landscape.webp');
    min-height: 40vh;
  }

  @include m.fullhd {
    min-height: 50vh;
  }

  h1,
  h2 {
    color: v.$white;
  }
}

.heroHeader {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  gap: 1rem;

  &_title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
    max-height: 60vw;

    @include m.desktop {
      font-size: 2rem;
      margin: auto;
    }

    @include m.widescreen {
      font-size: 3rem;
    }
  }

  &_subtitle {
    font-size: 1rem;
    font-weight: 600;
    display: block;

    @include m.desktop {
      font-size: 1rem;
    }

    @include m.widescreen {
      font-size: 2rem;
    }
  }
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  margin: auto;
  gap: 2rem;

  @include m.widescreen {
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
  }

  @include m.fullhd {
    margin: 5rem 0 0 0;
  }

  &_title {
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;

    @include m.desktop {
      font-size: 1.5rem;
      margin: 2rem 0 2rem 0;
    }
  }
}

.choiceLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  flex-basis: 40%;

  @include m.touch {
    flex-basis: 100%;
    width: 80%;
  }

  @include m.tablet {
    flex-basis: 60%;
    width: 60%;
  }

  @include m.desktop {
    flex-basis: 30%;
    width: 40%;
  }

  @include m.fullhd {
    flex-basis: 40%;
  }

  select {
    background-color: v.$white;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 25px;
  }
}

.choiceRight {
  justify-content: center;
  margin: auto auto 1rem auto;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;

  @include m.tablet {
    flex-basis: 100%;
    width: 80%;
  }

  @include m.desktop {
    flex-basis: 80%;
    width: 70%;
  }

  @include m.fullhd {
    flex-basis: 70%;
  }

  &_group {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  &_button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(v.$primary, 0.1);
    border-radius: 1.2rem;
    background-color: v.$white;
    color: rgba(v.$grey-800, 0.8);
    aspect-ratio: 1 / 1;
    gap: 0.5rem;
    width: 25%;
    box-sizing: content-box;
    contain: content;
    padding: 0.25rem;

    @include m.touch {
      width: 23%;
    }

    &__text {
      font-size: 0.7rem;
      line-height: 0.8rem;

      @include m.touch {
        font-size: 1em;
        line-height: 1.2em;
      }

      @include m.tablet {
        font-size: 1rem;
        line-height: 1.2rem;
      }

      @include m.desktop {
        font-size: 0.8rem;
        line-height: 0.9rem;
      }
    }

    &__icon {
      width: 2rem;
      aspect-ratio: 1/1;
    }

    @include m.tablet {
      width: 15%;
    }

    @include m.desktop {
      width: 10%;
    }

    @include m.fullhd {
      width: 10%;

      &__text {
        font-size: 0.9rem;
      }
    }

    @include m.qhd {
      width: 7%;
    }

    &:hover {
      // box-shadow: 0px 6px 16px 0px rgba(v.$primary, 0.5);
      color: v.$primary;
      border: 1px solid v.$primary;

      &__text {
        font-weight: 600;
      }
    }
  }
}

.info {
  display: none;

  @include m.tablet {
    display: flex;
  }

  &_hero {
    margin-bottom: 3rem;
    margin-top: rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 3rem;

    &__text {
      display: flex;
      flex-direction: column;
      flex-basis: 80%;
      margin: 0 2rem;
      text-align: justify;
      font-size: 0.8rem;
      gap: 1.5rem;

      @include m.fullhd {
        flex-basis: 80%;
        font-size: 1.2rem;
      }

      &___title {
        font-size: 1.3rem;
        text-align: left;

        @include m.fullhd {
          font-size: 2rem;
        }
      }

      &___content {
        font-weight: 500;
        font-size: 1rem;
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
