@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.organisme-services{

  &-contentcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem;

      &--cards {
        display: flex;
        justify-content: space-between;
        flex-basis: 32%;
        flex-wrap: wrap;
        margin-bottom: 0.8rem;

        @include m.mobile{
          flex-basis: 100%;
        }
       

      &-header{
        width: 100%;
        background-color: v.$grey-100;
        padding: 0.4rem;
        color: v.$watigreen;
        border-radius: 10px;

        & h4{
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-content: center;
        }

        &-icon{
            margin-right: 0.8em;
            width: 30px!important;
            height: 25px!important;
        }

        &--open{
          background-color: v.$watigreen;
          transition: background color 800ms;
          cursor: pointer;

          & h4{
            color: v.$white;
          }


        }
  
      }

      & article {
        width: 100%;
        flex: 0 0 auto;
      }

      &-content{
        background-color: v.$grey-100;
        padding: 2em;
        font-size: 0.9em;
        margin-top: -1.5em;
        display: none;

        &-scheduleday{
          color: v.$watigreen;
          font-weight: 600;
        }

        & h5{
          font-size: 1em;
          color: v.$primary;
          margin-top: 0.8em;
        }

        &-txt{
          font-size: 0.9em;
        }

        &-job{
          font-weight: 600;
          color: v.$watigreen;
          margin-top: 0.4em;
          font-size: 0.9em;
        }


      }
    }
  }


 }

 .is-visible{
  display: block;
}