@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
