@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

#bo-app {
  flex: 2 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

  #bo-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}


