.settings {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;

  &-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & label {
      font-size: 20px;
      font-weight: bold;
    }
  }

  & label {
    cursor: pointer;
  }

  &-checkbox {
    /* Pour rendre invisible la checkox tout en maintenant l'accessibilité */
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  &-content {
    margin-top: 10px;
    border-top: 1px solid #c6c6c6;
    display: none;

    &--visible {
      display: block;
    }
  }

  input[type='text'] {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    padding: 10px;
  }

  input[type='range'] {
    width: 100%;
  }

  input[type='checkbox'] {
    margin-right: 7px;
  }

  &__filter-range {
    display: flex;

    &--distance {
      white-space: nowrap;
    }
  }

  &__filter-categories {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    flex-wrap: wrap;
  }
}
