@use '../../../../../styles/variables' as v;
@use '../../../../../styles/medias' as m;
@use '../../../../../styles/elements';

.orgaSheet {
  &-services {
    &__list {
      display: grid;
      grid-template-columns: 1fr;

      @include m.desktop {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
      }

      @include m.fullhd {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
      }

    }
    &__serviceCard {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
      border: 1px solid v.$grey-300;
      border-radius: 20px;
      margin-bottom: 1rem;
    }
    .serviceCard {
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(v.$grey-100, .25);

        border: 1px solid v.$grey-100;
        color: v.$primary;
        padding: .6rem 1rem .6rem .6rem;
        font-size: 1rem;
      }

      &-actions {
        display: flex;
        justify-content: center;
        gap: .5rem;
        font-size: 1.35rem;
      }
      
      &-data {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 1rem 1rem;
        gap: 1rem;

        &__info,
        &__alerts {
          color: v.$grey-700;
        }

        &__hoursDetails {
          display: flex;
          flex-wrap: wrap;
          gap: .5rem;
        }

        &__days {
          width: 100%;
        }

        &__daysOn,
        &__daysOff {
          min-width: 3.5vw;
          font-weight: 700;
        }

        &__daysOn {
          color: v.$sucess;
        }

        &__daysOff {
          color: v.$danger;
        }

        &__contacts {
          border: 1px solid v.$grey-300;
          border-radius: 10px;
        }
      }
    }
  }
}
