@use '../../styles/variables' as v;
@use '../../styles/medias' as m;

.header {
  display: none;
  @include m.desktop {
    display: flex;
  }
  min-height: 75px;
  background-color: v.$primary;
  color: v.$white;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 100%;
    font-size: 1rem;
    font-weight: 200;
  }
  .watizat-logo-topbar {
    display: none;

    @include m.desktop {
      display: flex;
      height: 60px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
