@use '../../styles/variables' as v;
@use '../../styles/medias' as m;

.header {
  display: flex;
  min-height: 65px;
  background-color: v.$primary;
  color: v.$white;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  min-height: 100%;
  font-size: 1rem;
  font-weight: 200;
  width: 80vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  transition: filter ease-in-out 80ms;

  &_img {
    max-height: 40px;
    margin-top: 0.2rem;
  }

  &_text {
    margin-left: 0.75rem;
    color: v.$white;
    font-size: 1.7em;
    color: #fff;
    font-weight: 400;
    line-height: 1;
  }

  &:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.navbar {
  display: none;

  @include m.tablet {
    display: flex;
  }
}

.hamburger {
  font-size: 2.5rem;

  @include m.tablet {
    display: none;
  }
}

.resultsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95vw;
  width: 100%;
  margin: 0 auto;
}
