@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.orgaList {
  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: v.$white;
  box-shadow: rgba(0, 0, 0, 0.15) 0.2rem 0rem 0.5rem;

  width: 30vw;

  &-card {
    width: 100%;
    min-height: 6vh;

    background-color: v.$white;
    border-bottom: 1px solid v.$grey-200;
  }

  @include m.desktop {
    &-card {
      min-height: 6vh;
    }
    width: 20vw;
  }

  @include m.widescreen {
    &-card {
      min-height: 7vh;
    }
    width: 19vw;
  }

  @include m.fullhd {
    &-card {
      min-height: 8vh;
    }
    width: 17vw;
  }

  @include m.qhd {
    &-card {
      min-height: 6vh;
    }
    width: 14vw;
  }
}
