@use '../../styles/variables' as v;
@use '../../styles/medias' as m;

#BurgerMenu {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 75px;
  height: 100%;
  width: 100rem;
  background-color: rgba(v.$black, 0.75);
}

.BurgerMenu {
  position: relative;
  right: 0;
  top: 0;
  left: 30vw;
  min-height: 100vh;
  width: 100%;
  background-color: v.$white;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 2.5rem;
  }

  &-logo {
  display: flex;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  }

  &-navbar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    font-size: 1.1rem;
    font-weight: 700;

    .navbar, .footerlinks { 
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      &-sub { 
        display: flex;
        flex-direction: column;
        justify-content: center;
      gap: 1.2rem;}

      a {
        color: v.$grey-500;
        text-decoration: none;

        &:hover {
          color: v.$primary;
        }
      }
    }
  }
}