@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.organisme-infos--schedule{


    &-day{
      color: v.$watigreen;
      font-weight: 600;
      margin-right: 0.3em;
    }

    .schedules {
      font-size: 0.9em;
    }

}
