@use '../../styles/variables' as v;
@use '../../styles/medias' as m;

.footer {
  display: none;
  flex-direction: column;
  min-height: 50px;
  background-color: v.$primary;
  color: v.$white;
  align-items: center;

  @include m.tablet {
    display: flex;
  }
  
  & .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  a {
    font-weight: 500;
    color: v.$white;

    &:hover {
      font-weight: 500;
      color: v.$warning;
    }
  }

  .important{
    font-weight: 900;

    &:hover {
      font-weight: 900;
    }
  }
}