@use '../../styles/variables' as v;
@use '../../styles/medias' as m;

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: none;
  flex-direction: column;
  height: 50px;
  background-color: v.$primary;
  color: v.$white;
  align-items: center;

  @include m.tablet {
    display: flex;
  }
  
  & .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 2rem
  }

  a {
    font-weight: 500;
    color: v.$white;

    &:hover {
      font-weight: 500;
      color: v.$warning;
    }
  }

  .important{
    font-weight: 900;

    &:hover {
      font-weight: 900;
    }

  }& span {
    width: min-content;
    white-space : nowrap;
  }
  &-links {
    width: 100%;
    .footerlinks {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      &-sub { 
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
      a {
        color: v.$white;
        font-weight: 500;
    
        &:hover {
          font-weight: 500;
          color: v.$warning;
        }
      }}}
}
