@use '../../styles/variables' as v;
@use '../../styles/medias' as m;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  height: v.$footerHeight;
  background-color: v.$primary;
  color: v.$white;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Arial, sans-serif;

  @include m.tablet {
    display: flex;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 2rem;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
