@use '../../styles/variables' as v;
@use '../../styles/medias' as m;
@use '../../styles/elements';

.login {
  min-height: calc(100vh - 75px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 3rem;

  font-family: 'Roboto', sans-serif;

  h1 {
    color: v.$primary;
    font-weight: 500;
    margin: 15vh 0 5vh;
    font-size: 2.5rem;
  }

  &-form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    input {
      font-size: 1.3rem;
      border: none;
      border: 2px solid transparent;
      border-bottom: 1px solid v.$grey-300;
      border-radius: 5px;
      padding: .2rem;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: v.$grey-700;
        font-weight: 500;
        font-size: 1.1rem;
      }

      &:focus {
        outline: none;
        // border: 2px solid rgba(v.$sucess, .7);
        background-color: rgba(v.$sucess, .075);
      }
    }
  }

  button {
    background-color: v.$primary;
    color: v.$white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }

  a {
    text-decoration: none;
    color: v.$primary;
    font-weight: 400;
    font-size: 1.1rem;
  }

  &-newAccount {
    text-align: center;
  }
}

.accountRequest {
  &-form {
    width: 45vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 3rem;

    &__text {
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: span 2;
      font-size: 1.1rem;
    }
  }


}
