@use '../../styles/variables' as v;
@use '../../styles/medias' as m;
@use '../../styles/elements';

.login {
  min-height: calc(100% - 75px - calc(50px *2));
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1rem;

  font-family: 'Roboto', sans-serif;
  padding-bottom: calc(50px + 2vh); /* Footer height */

  @include m.desktop {
    gap: 1.5rem;
  }

  @include m.widescreen {
    gap: 2rem;
  }

  @include m.fullhd {
    gap: 3rem;
  }

  h1 {
    color: v.$primary;
    font-weight: 500;
    margin: 10vh 0 5vh;
    font-size: 2.5rem;
  }

  &-form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include m.widescreen {
      width: 30vw;
    }

    fieldset {
      width: 75%;

      input {
        width: 100%;
      }

      select {
        width: 100%;
      }
    }
  }

  button {
    width: 75%;
    background-color: v.$primary-var3;
    color: v.$white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;

    &:hover {
      background-color: v.$primary;
      border-color: v.$primary;
    }

    &:active {
      background-color: v.$white;
      color: v.$primary;
      border-color: v.$primary;
      box-shadow: none;
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
    color: v.$primary;
    font-weight: 400;
    font-size: 1.1rem;
  }

  &-links {
    a {
      font-size: 1rem;
    }
  }

  &-newAccount {
    margin-top: 3rem;
    text-align: center;

    a {
      font-size: 1rem;
    }
  }
}

.accountRequest {
  &-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    gap: 3rem;
    font-weight: 800;
    width: 80vw;

    @include m.desktop {
      width: 70vw;
    }

    @include m.widescreen {
      width: 60vw;
    }

    @include m.fullhd {
      gap: 3rem;
      width: 50vw;
    }

    &__text {
      width: 75%;
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: span 2;
      font-size: 1.1rem;
      font-weight: 400;
      text-align: justify;
    }
  }
}

#mobileOut {
  min-height: 100vh;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(v.$bghome, 0.8), rgba(v.$bghome, 0.5)),
    url('/img/404mobile.jpg');
  background-size: cover;
  color: v.$white;
  text-align: center;
  font-size: 1.35rem;

  .mobileOut__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    margin: 10vh 0 5vh 0;

    img {
      margin: auto;
    }
  }

  .mobileOut__returnToHome {
    margin-top: 5vh;
    color: v.$white;
    border: 1px solid v.$white;
    border-radius: 20px;
    padding: 1rem;
  }

  @include m.tablet {
    display: none;
  }
}