@use '../../../../styles/variables' as v;
@use '../../../../styles/medias' as m;
@use '../../../../styles/elements';

.articleContact {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    grid-column: 1 / 3;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  @include m.widescreen {
    grid-column: auto;
  }
}

.allContacts {
  display: grid;
  grid-template-rows: auto;
  gap: 0 3rem;

  @include m.tablet {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }

  @include m.widescreen {
    grid-template-columns: 1fr;
  }
}

.mainContact {
  font-size: 0.9em;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  position: relative;

  &_txt {
    font-weight: 600;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 27.5%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: v.$grey-600;
  }
}

.link {
  display: block;
  color: v.$grey-700;
}

.otherContact {
  padding-left: 1em;
  font-size: 0.9em;
  padding-bottom: 0.5rem;
  position: relative;

  &_job {
    color: v.$watigreen;
    font-weight: 600;
    margin-top: 1em;
    @include m.tablet {
      margin-top: 0;
    }
    @include m.widescreen {
      margin-top: 1em;
    }
  }

  & a {
    display: block;
    color: v.$grey-700;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 27.5%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: v.$grey-200;
  }
}
