@use '../../../styles/variables' as v;

.leaflet-container {
  width: 100%;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  text-align: center;
}

.custom-icon {
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 5px solid v.$primary;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;

  &::after {
    content: '';
    position: absolute;
    bottom: -14px; /* Ajustez la valeur ici pour contrôler la position de la pointe vers le bas */
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 15px 0;
    border-color: v.$primary transparent transparent transparent;
    transform: translateX(-50%) translateZ(-1px);
  }
}

.custom-me {
  background-color: v.$primary;
  color: white;
  border-radius: 50%;
  border: 5px solid v.$primary;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  background-image: url('../../../assets/location.svg');
  background-size: 100%; /* Par exemple, 50% de la taille de la div */
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    bottom: -14px; /* Ajustez la valeur ici pour contrôler la position de la pointe vers le bas */
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 15px 0;
    border-color: v.$primary transparent transparent transparent;
    transform: translateX(-50%) translateZ(-1px);
  }
}
