@use '../../../styles/variables' as v;

.leaflet-container {
  width: 100%;
  z-index: 0;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  text-align: center;
}

.custom-icon, .custom-me {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  font-size: .9rem;
  transform-style: preserve-3d;
  border: 4px solid v.$primary;
  font-weight: 600;

  &::after {
    content: '';
    position: absolute;
    bottom: -16px; /* Ajustez la valeur ici pour contrôler la position de la pointe vers le bas */
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 14px 0;
    border-color: v.$primary transparent transparent transparent;
    transform: translateX(-50%) translateZ(-1px);
  }
}

.custom-icon {
  background-color: v.$white;
  color: v.$grey-700;
}

.custom-me {
  background-color: v.$primary;
  color: v.$white;
  background-image: url('../../../assets/location.svg');
  background-size: 80%; /* Par exemple, 50% de la taille de la div */
  background-position: center;
  background-repeat: no-repeat;
}
