@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.modal {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  background-color: rgba(v.$grey-900, 0.85);
  contain: content;

  &-main {
    width: 75vw;
    max-height: 90%;
    background-color: v.$white;
    border-radius: 20px;
    padding: 3rem 5rem;
    overflow-y: auto;

    @include m.fullhd {
    width: 50vw;
    }
  }

  &-title {
    margin-bottom: 3rem;
    font-size: 1.75rem;
    color: v.$info;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    border-bottom: .5px solid rgba(v.$info, .5);
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-double {
    display: flex;
    justify-content: space-around;
    &__case {
      width: 25rem;
    }
  }

  &-start {
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
  }

  &-case {
    &.test {
      position: relative;
      & .suggestion {
        position: absolute;
        background-color: white;
        border: 1px solid black;
        transform: translateY(30px);
        width: 100%;
        padding: 5px;
        & li {
          list-style: none;
        }
        & button {
          width: 100%;
          text-align: left;

          &:hover {
            background-color: gray;
          }
        }
      }
    }
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .75rem;

    &__title {
      color: v.$primary-var2;
      font-weight: 500;
      font-size: 1.1rem;
    }

    input,
    textarea {
      border: none;
      border-bottom: 1px solid v.$grey-400;
    }

    &__inputTxt,
    textarea {
      padding: 0.2rem;

      &:focus {
        outline: none;
        background-color: rgba(v.$primary-var2, 0.05);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &[type='number'] {
        appearance: textfield;
        /* Firefox */
        -moz-appearance: textfield;
      }

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &__textarea {
      resize: vertical;
      min-height: 5vh;
    }
  }

  &-actions {
    display: flex;
    justify-content: end;
    gap: 3rem;
    margin-top: 2rem;
  }

  // Entrées spécifiques

  &-data {
    &__accessDetails {
      display: flex;
      gap: 2rem;

      [type='checkbox'] {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 1rem;
      }
    }

    &__hours {
      input {
        border: none;
      }
    }

    &__hoursHead {
      text-align: center;
      font-weight: 500;
      background-color: rgba(v.$sucess, 0.4);
      color: v.$grey-800;
    }

    &__hoursLine {
      border-bottom: 1px solid v.$grey-800;

      &:hover {
        background-color: rgba(v.$sucess, 0.2);
      }
    }

    &__hoursDay {
      width: 10%;
      text-align: left;
      font-weight: 500;
    }

    &__hoursSeparater {
      text-align: center;
      width: 2%;
    }

    &__hoursHour {
      width: 15%;
      text-align: center;
      border: none;
    }

    &__hoursInput {
      width: 100%;
      text-align: center;
      border: none;
      background-color: rgba(v.$sucess, 0.02);

      &--error {
        background-color: rgba(v.$danger, 0.3);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-contact {
    &__modes,
    &__roles {
      display: flex;
      gap: 25%;
    }
    &__modes {
      gap: 40%;
    }
    &__roles {
      gap: 30%;
    }

    &__private,
    &__actu {
      font-weight: 400;
      select {
        font-weight: 300;
        background-color: v.$white;
        border-radius: 10px;
        padding: 0.2rem 0.4rem;
        width: 100%;
      }
    }

    &__mail {
      width: 200%;
    }
  }
}
