@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.modal {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  background-color: rgba(v.$grey-900, 0.85);
  contain: content;
}

.main {
  width: 75vw;
  max-height: 90%;
  background-color: v.$white;
  border-radius: 20px;

  @include m.fullhd {
    width: 50vw;
  }
}

.title {
  padding: 2rem 0 1rem;
  font-size: 1.75rem;
  color: v.$info;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgba(v.$info, 0.25);
  box-shadow: rgba(0, 0, 0, 0.15) 1rem 0rem 0.3rem;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.overflow {
  z-index: 1;
  max-height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem 0 0;
}

.actions {
  padding: 3rem 0;
  display: flex;
  justify-content: end;
  gap: 3rem;
  margin-top: 1rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(v.$info, 0.25);
  box-shadow: rgba(0, 0, 0, 0.15) -1rem 0rem 0.3rem;

  &_close,
  &_delete {
    border: none !important;
  }

  &_save {
    &:hover {
      border-color: transparent !important;
    }
  }
}

.overflow,
.title,
.actions {
  padding-right: 4rem;
  padding-left: 4rem;
}

.empty {
  box-shadow: none;
  min-height: 20vh;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem 2rem 2rem;
  gap: 1rem;

  .empty_title {
    box-shadow: none !important;
    border-color: transparent !important;
  }
  .empty_actions {
    box-shadow: none;
    border-color: transparent;
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
}

.double {
  display: flex;
  justify-content: space-around;
  gap: 5rem;

  &_case {
    width: 25rem;
  }
}

.start {
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.case {
  &.test {
    position: relative;

    & .suggestion {
      position: absolute;
      background-color: white;
      border: 1px solid black;
      transform: translateY(30px);
      width: 100%;
      padding: 5px;

      & li {
        list-style: none;
      }

      & button {
        width: 100%;
        text-align: left;

        &:hover {
          background-color: gray;
        }
      }
    }
  }

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &_title {
    color: v.$grey-600;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  &_legend {
    margin-left: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: v.$grey-600;
    text-transform: none;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid v.$grey-400;
    background-color: transparent;
  }

  &_inputTxt,
  textarea {
    padding: 0.2rem;

    &:focus {
      outline: none;
      background-color: rgba(v.$info, 0.05);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-color: rgba(v.$info, 0.5);
    }

    &[type='number'] {
      appearance: textfield;
      /* Firefox */
      -moz-appearance: textfield;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &_textarea {
    resize: vertical;
    min-height: 5vh;
  }
}

// Entrées spécifiques

.data {
  &_accessDetails {
    display: flex;
    gap: 2rem;

    [type='checkbox'] {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 1rem;
    }
  }

  &_hours {
    input {
      border: none;
    }
  }

  &_hoursHead {
    text-align: center;
    font-weight: 500;
    background-color: rgba(v.$sucess, 0.4);
    color: v.$grey-800;
  }

  &_hoursLine {
    border-bottom: 1px solid v.$grey-800;

    &:hover {
      background-color: rgba(v.$sucess, 0.2);
    }
  }

  &_hoursDay {
    width: 10%;
    text-align: left;
    font-weight: 500;
  }

  &_hoursSeparater {
    text-align: center;
    width: 2%;
  }

  &_hoursHour {
    width: 15%;
    text-align: center;
    border: none;
  }

  &_hoursInput {
    width: 100%;
    text-align: center;
    border: none;
    background-color: rgba(v.$sucess, 0.02);

    &__error {
      background-color: rgba(v.$danger, 0.3);
    }

    &:focus {
      outline: none;
    }
  }
}

.contact {
  &_modes,
  &_roles {
    display: flex;
    gap: 25%;
  }

  &_modes {
    gap: 40%;
  }

  &_roles {
    gap: 30%;
    padding-top: 1rem;
  }

  &_private,
  &_actu {
    font-weight: 400;

    select {
      font-weight: 300;
      background-color: v.$white;
      border-radius: 10px;
      padding: 0.2rem 0.4rem;
      width: 100%;
    }
  }
}

.editUser {
  &_table {
    border-spacing: 7rem 2rem;
  }
}
