@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.adminsidebar {
  position: sticky;
  top: 0;
  max-height: 100vh;
  width: 40vw;
  background-color: v.$primary;
  overflow-y: auto;

  @include m.tablet {
    width: 40vw;
  }

  @include m.desktop {
    width: 30%;
  }

  @include m.widescreen {
    width: 20vw;
  }

  @include m.fullhd {
    width: 20vw;
  }

  @include m.qhd {
    width: 12vw;
  }

  &-logo {
    height: 5rem;
    background-color: rgba(v.$primary-var3, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 0.4em 0;

    &--img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      img {
        height: 75%;
        aspect-ratio: original;
        margin: auto;
      }
    }
  }

  &-myInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem auto;
    // padding-bottom: 1.5rem;
    // border-bottom: 1px solid rgba(v.$white, 0.25);
    color: v.$white;

    &__zone {
      &-select {
        padding: 0.25rem 1rem;
        font-weight: 500;
        background-color: v.$primary;
        border: 1px solid v.$primary-var2;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        color: v.$white;
        font-size: 0.9rem;
        font-weight: 600;

        &__default,
        &__option {
          background-color: v.$white;
          color: v.$grey-500;
        }

        &__option {
          background-color: v.$white;
          color: v.$grey-700;
        }
      }
    }

    &__title {
      color: v.$white;
      font-weight: 500;
      font-size: .9rem;
    }
  }
}