@use '../../../styles/variables' as v;
@use '../../../styles/medias' as m;
@use '../../../styles/elements';

.adminsidebar {
  width: 25vw;
  background-color: v.$primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  @include m.desktop {
    width: 20vw;
  }

  @include m.widescreen {
    width: 17vw;
  }

  @include m.fullhd {
    width: 15vw;
  }

  @include m.qhd {
    width: 12vw;
  }

  &-logo {
    height: 6vh;
    background-color: rgba(v.$primary-var3, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: auto;
    &--img {
      img {
        max-height: 5vh;
        aspect-ratio: original;
        margin: auto;
      }
    }
  }
}
